environment/.coverage
environment/__pycache__
environment/lib/__pycache__
environment/test/__pycache__
neural/.coverage
neural/__pycache__
neural/lib/__pycache__
neural/test/__pycache__
*.pyc
.coverage
node_modules/
